{% extends '__base__.html' %}

{% block title %}日志管理{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            blogs: data.blogs,		  //api传入的blogs数组，元素是各个Blog对象
            page_obj:  data.page_obj          //api传入的Page对象, 这个data.page是result传入的对象，而不是int
        },
        methods: {
            edit_blog: function (blog) {
                location.assign('/manage/blogs/edit?id=' + blog.id);  // 转到新的编辑该Blog的页面
                },
            delete_blog: function (blog) {
                if (confirm('Are you sure to delete ' + blog.name + ' ?')) {
                    postJSON('/api/blogs/' + blog.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();  //调用完删除api之后刷新页面
                    });
                }
            }
        }
    });
    $('#vm').show();    //用于显示vm这个对应的div，默认是不显示
}
$(function() {
    getJSON('/api/blogs', {            //注意这里是getJSON方式，上面是postJSON方式来删，调用的是不同api. 调用展示全部博文的api
        page: {{ page_index }}         //这是把handlers 传入的页数page_index作为参数传入 get api/blogs, 是个int数字
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();         //api调用返回之后，隐藏loading的一栏
        initVM(results);			  //api/blogs返回的是一个dict,包含Page对象和blogs数组，以此为参数data传入viewmodle
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/comments">评论</a></li>
                <li class="uk-active"><span>日志</span></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>Loading...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <a href="/manage/blogs/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 创建新日志</a>

        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-5-10">标 题</th>
                    <th class="uk-width-2-10">作 者</th>
                    <th class="uk-width-2-10">创 建 时 间</th>
                    <th class="uk-width-1-10">操 作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="blog: blogs" >   <!-- v-repeat相当于for blog in blogs -->
                    <td>
                        <a target="_blank" v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a>
                    </td>
                    <td>
                        <a target="_blank" v-attr="href: '/user/'+blog.user_id" v-text="blog.user_name"></a>
                    </td>
                    <td>
                        <span v-text="blog.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on="click: edit_blog(blog)"><i class="uk-icon-edit"></i></a>    <!-- v-on指令用于给监听DOM事件 -->
                        <span>&nbsp;<span>
						<a href="#0" v-on="click: delete_blog(blog)"><i class="uk-icon-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-component="pagination" v-with="page_obj"></div>   <!-- 分页栏，其中这个page_obj 是Page对象 -->
    </div>

{% endblock %}